.main-boxes
{
    margin: 0px;
    padding: 80px;
    width: 1200px;
}

#box1
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 400px;
    height: 405px;
    margin-top: 5px;
    margin-left: 5px;
}

#box2
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 400px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box3
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box4
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box5
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box6
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box7
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 600px;
    height: 405px;
    margin-top: 5px;
    margin-left: 5px;
}

#box8
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    width: 405px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

