*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0px;
    padding: 120px 0px 120px;
    width: 1200px;
}

p
{
    margin: 10px;
}

.nav
{
    margin: 0 auto;
}

.nav ul
{
    list-style-type: none;
    float: right;
    padding-right: 80px;
}

.nav ul li
{
    display: inline;
    padding-left: 15px;
}

.main
{
    margin: 0;
    padding: 0px 120px 120px 120px;
    /*background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.main-boxes
{
    margin: 0px auto;
    padding: 0px;
    width: 1200px;
    color: #fff;
}

#box1
{
    float: left;
    background-color: #000;
    background-image: url('http://24.media.tumblr.com/tumblr_mdfxbw9Jfu1r5cwkho1_1280.jpg');
    background-size: 400px auto;
    background-repeat: no-repeat;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 400px;
    height: 405px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

#box2
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 405px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

#box3
{
    float: left;
    background-color: #000;
    background-image: url('http://24.media.tumblr.com/02e5c8c07d15f2e30845e9ee74dd69ef/tumblr_mm0tp1PGPa1qav10uo1_400.jpg');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

#box4
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

#box5
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

#box6
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

#box7
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 605px;
    height: 405px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
}

#box8
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 405px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

