*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0px;
    padding: 120px 0px 120px;
    width: 1200px;
}

.nav
{
    left: 25%;
    width: 1200px;
    margin: 0 auto;
    background-color: #333;
}

.nav ul
{
    list-style-type: none;
    float: right;
}

.nav ul li
{
    display: inline;
    padding-left: 15px;
}

.main
{
    margin: 0;
    padding: 0px 120px 120px 120px;
    /*background-color: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.main-boxes
{
    margin: 0px auto;
    padding: 0px;
    width: 1200px;
}

#box1
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 400px;
    height: 405px;
    margin-top: 5px;
    margin-left: 5px;
}

#box2
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 405px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box3
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box4
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box5
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box6
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

#box7
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 605px;
    height: 405px;
    margin-top: 5px;
    margin-left: 5px;
}

#box8
{
    float: left;
    background-color: #000;
    border-radius: 15px;
    -moz-border-radius: 15px; 
    width: 405px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
}

